**Vedant Modak**
  | BE(IT) undergrad @ PES Modern College of Engineering,Pune

**Calculating Log Annual Returns**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
ril_data =pd.read_csv('F:\Reliance_data.csv')

In [3]:
ril_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RELIANCE,EQ,1-Jan-21,1985.30,1988.0,1997.0,1982.00,1988.00,1987.50,1989.50,4622002,9.195480e+09,139680,1013314,21.92
1,RELIANCE,EQ,4-Jan-21,1987.50,1995.1,1998.9,1968.00,1990.25,1990.85,1982.61,11312992,2.242923e+10,316871,3869604,34.2
2,RELIANCE,EQ,5-Jan-21,1990.85,1969.0,1983.6,1956.00,1965.00,1966.10,1968.87,11132803,2.191902e+10,300233,5208047,46.78
3,RELIANCE,EQ,6-Jan-21,1966.10,1965.9,1966.0,1905.15,1915.50,1914.25,1928.17,21414270,4.129037e+10,659284,9038101,42.21
4,RELIANCE,EQ,7-Jan-21,1914.25,1920.5,1945.0,1905.15,1912.80,1911.15,1919.86,14918406,2.864126e+10,454695,6452659,43.25

In [4]:
ril_data.set_index('Date')

,Symbol,Series,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
Date,,,,,,,,,,,,,,
1-Jan-21,RELIANCE,EQ,1985.30,1988.00,1997.00,1982.00,1988.00,1987.50,1989.50,4622002,9.195480e+09,139680,1013314,21.92
4-Jan-21,RELIANCE,EQ,1987.50,1995.10,1998.90,1968.00,1990.25,1990.85,1982.61,11312992,2.242923e+10,316871,3869604,34.2
5-Jan-21,RELIANCE,EQ,1990.85,1969.00,1983.60,1956.00,1965.00,1966.10,1968.87,11132803,2.191902e+10,300233,5208047,46.78
6-Jan-21,RELIANCE,EQ,1966.10,1965.90,1966.00,1905.15,1915.50,1914.25,1928.17,21414270,4.129037e+10,659284,9038101,42.21
7-Jan-21,RELIANCE,EQ,1914.25,1920.50,1945.00,1905.15,1912.80,1911.15,1919.86,14918406,2.864126e+10,454695,6452659,43.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27-Dec-21,RELIANCE,EQ,2372.80,2361.55,2378.00,2348.10,2371.00,2370.25,2366.87,1853948,4.388054e+09,89509,532328,28.71
28-Dec-21,RELIANCE,EQ,2370.25,2375.60,2404.85,2373.05,2404.00,2398.40,2389.02,2941883,7.028226e+09,121810,1230092,41.81
29-Dec-21,RELIANCE,EQ,2398.40,2391.00,2419.00,2382.10,2398.00,2402.50,2400.08,7118779,1.708561e+10,169024,4190091,58.86
30-Dec-21,RELIANCE,EQ,2402.50,2400.00,2404.95,2345.60,2364.00,2359.10,2366.88,13537254,3.204102e+10,226181,7709766,56.95
31-Dec-21,RELIANCE,EQ,2359.10,2373.00,2383.90,2360.00,2368.50,2368.15,2370.53,4373768,1.036814e+10,138728,2109083,48.22

In [5]:
ril_data['log_return']=np.log(ril_data['Average Price']/ril_data['Average Price'].shift(1))
print (ril_data['log_return'])

0           NaN
1     -0.003469
2     -0.006954
3     -0.020888
4     -0.004319
         ...
247    0.002500
248    0.009315
249    0.004619
250   -0.013929
251    0.001541
Name: log_return, Length: 252, dtype: float64

In [6]:
average_log_return=ril_data['log_return'].mean()*248
print (average_log_return)

0.17313582299739544

In [7]:
print (str(round(average_log_return,5)*100)+'%')

17.314%